@model List<Category>
@{
    int index = 1;
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Category list</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-patch-plus"></i> Create new Category
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    SNo.
                </td>
                <td>
                    Categories
                </td>
                <td>
                    Display Order
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.DisplayOrder
                    </td>
                    <td>
                       <div class="w-65 btn-group" role="group">
                            <a asp-Controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                           </a>
                       </div>
                       <div class="w-65 btn-group" role="group">
                            <a asp-Controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-pencil-square"></i> Delete
                           </a>
                       </div>
                    </td>
                </tr>
                index++;
            }
        </tbody>
    </table>
</div>